.Card_size_medium {
    grid-column: span 3;
}

.Card_size_medium .Card-ImageItem {
    width: 100%;
    max-height: 202px;
    margin-bottom: 5px;
}

.Card_size_medium .Card-Info {
    display: flex;
    padding-right: 10px;
}
